:root {
  --color-black-coral: #545e75;
  --color-blue-jeans: #63adf2;
  --color-pale-cornflower-blue: #a7cced;
  --color-independence: #304d6d;
  --color-air-superiority-blue: #82a0bc;
}

/*******************
Box Sizing
*******************/
html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

/****************************
Generic Margins and Paddings
****************************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
margin: 0;
padding: 0;
}

a {
text-decoration:none;
}

/*******************
Lists
*******************/
ul {
list-style: none;
}

/*******************
Forms and buttons
*******************/
input,
textarea,
select,
button {
color: inherit;
font: inherit;
letter-spacing: inherit;
}

/* I usually expand input and textarea to full-width */
input[type="text"],
textarea {
width: 100%;
}

/* More friendly border */
input,
textarea,
button {
border: 1px solid gray;
}

/* Some defaults for one-liner buttons */
button {
padding: 0.75em 1em;
border-radius: 0;
line-height: 1;
background-color: transparent;
}

button * {
pointer-events: none;
}

/***********************************
Easy responsive for media elements
***********************************/
img,
svg,
iframe,
video,
object,
embed {
display: block;
max-width: 100%;
}

/*******************
Useful table styles
*******************/
table {
table-layout: fixed;
width: 100%;
}

/*******************
The hidden attribute
*******************/
[hidden] {
display: none !important;
}

/*******************
Noscript
*******************/
noscript {
display: block;
margin-bottom: 1em;
margin-top: 1em;
}

/*******************
Actual Style
*******************/

html {
font-size: 10px;
min-height: 100vh;
font-family: 'IBM Plex Sans', sans-serif;
}

body {
background: var(--color-air-superiority-blue);
background: radial-gradient(circle, var(--color-air-superiority-blue) 0%, #304d6dee 100%);
height:100vh;
}

header{
transform: translateY(20%);
margin: 0 auto;
width: 380px;
}


/* --color-black-coral: #545e75;
--color-blue-jeans: #63adf2;
--color-pale-cornflower-blue: #a7cced;
--color-independence: #304d6d;
--color-air-superiority-blue: #82a0bc; */

.logo-shape {
stroke-dasharray: 130px 330px;
stroke-dashoffset: 65;
stroke-width: 6px;
fill: transparent;
stroke: var(--color-independence);
transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.logo-text {
transform: translateY(-135%);
text-align: center;
font-family: 'IBM Plex Sans';
font-weight: 700;
font-size: 35px;
position:relative;
letter-spacing: 4px;
color: var(--color-pale-cornflower-blue);
text-shadow:0 -2px 0px var(--color-independence);
}

header:hover .logo-shape {
stroke-width: 2px;
stroke-dashoffset: 20px;
stroke-dasharray: 400 0;
}


